
h1 {
    text-align: center;
    background-color: rgb(82, 82, 82);
    outline: 5px solid black;
    color: white;
    font-size: 45px;
    font-family: monospace;
}

body {
    margin: 0;
    background-color: rgb(59, 59, 59);
}

h2 {
    background-color: rgb(82, 82, 82);
    color: white;
}
h4{
    color:white;
}

p {
    color: white;
    
}

#divID {
    text-align: center;
}
#divID2{
    text-align: center;
}
#divIDorg{
    text-align: center;
}
#divID3{
    text-align: center;
}
#divID4{
    text-align: center;
}
#divID5{
    text-align: center;
}

a:link {
    color: rgb(7, 100, 187);
}

a:visited {
    color: rgb(140, 86, 202)
}

a:hover {
    color: rgb(0, 153, 255)
}
.topnav{
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid black;
    width: 100%;
    text-align: center;
}
.topnav a{
    padding: 10px 15px;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 15%;
  background: #933737;
}

